.container {
  width: 80%;
  height: 130px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 24%;
  z-index: 1001;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 15px;
}

.info {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.infoTitle {
  font-size: 10px;
  color: hsl(0, 0%, 59%);
  margin-bottom: 0;
}
.vl {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  height: 60%;
  align-self: center;
}
.infoContent {
  font-size: 18px;
  font-weight: 600;
  color: hsl(0, 0%, 17%);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    height: fit-content;
    text-align: center;
    min-width: 70%;
    min-height: 37%;
  }
  .info {
    padding: 0;
    width: 100%;
  }
  .infoContent {
    margin: 8px;
  }
  .vl {
    display: none;
  }
}
